@model NerdDinner.Controllers.PaginatedList<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Index";
}


<h2>Upcoming Dinners</h2>
<ul>
    @foreach (var dinner in Model) { 
        <li>
            
            @Html.ActionLink(@dinner.Title, "Details", new {id = dinner.DinnerID}) on 
            @dinner.EventDate.ToShortDateString() @@ @dinner.EventDate.ToShortTimeString()
        

            @*@Html.ActionLink("Edit", "Edit", new {id = dinner.DinnerID})*@
            @* @Html.ActionLink("Delete", "Delete", new {id = dinner.DinnerID})*@
        
        </li>
    
    }
    

    @if (Model.HasPreviousPage)
    {
        @Html.RouteLink("<<<", new {Page = Model.PageIndex - 1})
    }
    @if (Model.HasNextPage)
    {
        @Html.RouteLink(">>>", new {Page = Model.PageIndex + 1})
    }
    </ul>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

