@model IEnumerable<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Index";
}


<h2>Upcoming Dinners</h2>
<ul>
    @foreach (var dinner in Model) { 
        <li>
            @dinner.Title on @dinner.EventDate.ToShortDateString() @@ @dinner.EventDate.ToShortTimeString()
        
            @if (true)
            {
                @Html.ActionLink("Edit", "Edit", new {id = dinner.DinnerID})
                @Html.ActionLink("Details", "Details", new {id = dinner.DinnerID})
                @Html.ActionLink("Delete", "Delete", new {id = dinner.DinnerID})
            }
        
        </li>
    
    }
</ul>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

